// .sidebar {
//     width: 25%;
//     position: fixed;
//     z-index: 1;
//     overflow: auto;
// }

// .main{
//     padding-left:30%
// }

.post {
  margin: 10px;
  background-color: #f0f0f0;
  width: 40%;
  height: 200px;
  padding: 30px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  float: left;
}
.log {
  margin: 10px;
  background-color: #f0f0f0;
  width: 40%;
  height: 200px;
  padding: 30px;
  float: left;
}
