.display{
    font-size: 40px;
    font-weight: 800;
}

.users{
    float:right;
    // height: 60.5vh;
    width: 15vw;
    background-color: white;
    text-align: center;
    padding: 1.8rem;
}

.innerdiv {
    background-color: #d4efff;
    border-radius: 3%;
    padding: 10%;
    margin: 10% 0%;
}