.question {
  font-size: 18px;
}
input[type="text"] {
  padding: 10px;
}
label {
  font-size: 18px;
}
select {
  font-size: 17px;
  padding: 8px;
  margin: 10px 10px 10px 0px;
}

.temp {
  font-size: 14px;
}

.optionadd {
  background-color: #d4efff;
  border-radius: 2%;
  padding: 3%;
  margin: 5% 0%;
}