




@media only screen and (max-width: 600px) {
  .sign-up {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 1rem 3rem;
    // margin: 50px;
  
    .title {
      margin: 10px 0;
    }
  }
}


@media only screen and (min-width: 600px) {
  .sign-up {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 1rem 3rem;
    // margin: 50px;
  
    .title {
      margin: 10px 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  .sign-up {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 1rem 3rem;
    // margin: 50px;
  
    .title {
      margin: 10px 0;
    }
  }
}

@media only screen and (min-width: 992px) {
  .sign-up {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem 3rem;
    // margin: 50px;
  
    .title {
      margin: 10px 0;
    }
  }

}

@media only screen and (min-width: 1200px) {

  .sign-up {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem 3rem;
    // margin: 50px;
  
    .title {
      margin: 10px 0;
    }
  }
}